@charset "UTf-8";

@font-face {
    font-family: 'titlefont';
    src: url('../fonts/varsity_2/varsity_regular.ttf');
}

@font-face {
    font-family: 'subtitlefont';
    src: url('../fonts/campus/CAMPUS\ PERSONAL\ USE.ttf');
}

@font-face{
    font-family: 'bodyfont';
    src: url('../fonts/basketball/Basketball.otf');
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    overflow: auto;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: black;
    padding-top: 20px;
    margin-bottom: 20px;

}
header > h1{
    font-family: 'titlefont';
    font-weight: normal;
    color: white;
    text-align: center;
}

header > nav{
    padding-left: 20px;
    padding-bottom: 10px;
}

header > nav > a{
    margin-right: 40px;
    color: white;
    text-decoration: none;
    font-family: 'titlefont';
}

header > nav > a:hover{
    background-color: white;
    padding: 5px;
    color: black;
    transition: 0.3s;
}

body{
    background-image: url('../imagens/wallpaper004.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main{
    min-width: 320px;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

main > h1{
    font-family: 'subtitlefont';
}

h2{
    font-family: 'subtitlefont';
    padding-left: 10px;
}
main > p{
    text-align: justify;
    text-indent: 20px;
    font-family: 'titlefont';
    font-size: 1.2em;
}

section.formulario{
    padding: 10px;
    font-family: 'titlefont';
    border-top: solid 2px black;
}

main > section > form > input{
    height: 30px;
    margin-right: 30px;
    border: solid 1px black;
}

.btn-adicionar{
    height: 30px;
    padding: 5px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-adicionar:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
    transition: 0.3s;
}

.btn-pesquisar{
    height: 30px;
    padding: 5px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-pesquisar:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
    transition: 0.3s;
}

section.lista{
    border-top: solid 2px black;
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'titlefont';
}

table, th, td{
    border: 1px solid #ddd;
}

th, td{
    text-align: center;
    padding: 0.6rem;
}

th{
    background-color: black;
    color: white;
}
.btn-remover{
    background-color: #d33;
    color: white;
    font-weight: bolder;
    border: solid 1px #d33;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s;
    float: left;
}

.btn-remover:hover{
    background-color: white;
    color: #d33;
}

.btn-atualizar{
    height: 30px;
    padding: 3px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    float: center;
}

.btn-atualizar:hover{
    background-color: white;
    border: solid 1px black;
    color: black;
    transition: 0.3s;
}

.campo_menor{
    width: 65px;
}

select{
    height: 30px;
    padding: 5px;
    border: 1px solid #000000;
}

option{
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ddd;
}

.back-form{
    background-color: white;
    max-width: 650px;
    min-width: 320px;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.core-form{
    border: solid 1px red;
    position: absolute;
    transform: translate(0%, -25%);
}

.campo-formulario{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

.select-opts{
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
}

