@charset "UTf-8";

@font-face {
    font-family: 'titlefont';
    src: url('../fonts/varsity_2/varsity_regular.ttf');
}

@font-face {
    font-family: 'subtitlefont';
    src: url('../fonts/campus/CAMPUS\ PERSONAL\ USE.ttf');
}

@font-face{
    font-family: 'bodyfont';
    src: url('../fonts/basketball/Basketball.otf');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100dvw;
    height: 100dvh;
}

body{
    background-image: url('../imagens/wallpaper004.jpg');
}

.principal{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.644);
    margin: auto;
    padding: 20px;
}

.conteudo{
    font-family: 'titlefont';
}

.conteudo > h2{
    font-family: 'subtitlefont'
}

.conteudo > form{
    margin-bottom: 20px;
}

.conteudo > form > input{
    height: 30px;
    border: solid 1px black;
}

.voltar-link{
    text-decoration: none;
    color: black;
    height: 30px;
    padding: 5px;
    border: solid 1px black;
}

.voltar-link:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

.btn-salvar{
    height: 30px;
    padding: 5px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-salvar:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
    transition: 0.3s;
}

.campo-formulario{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

.select-opts{
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
}
